body {
  background-color: oklch(15.365% 0.05827 27.618);
}
h1 {
  text-align: center;
  font-family: sans-serif;
  color: oklch(100% 0.00011 271.152);
  font-weight: bolder;
  font-size: 50px;
  
}
img {
  border-radius: 50px;
  width: 412px;
  object-fit: cover;
  object-position: center;
}
p.para2 {
  font-family: "Outfit", sans-serif;
  color: oklch(0.85 0.02 16.32);
  text-align: center;
  font-size: 19px;
}
p {
  color: oklch(0.64 0.05 20.93);
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  
}
div {
  width: 398px;
  padding: 60px 60px 60px 400px;
  justify-content: center;
}
span {
  color: oklch(100% 0.00011 271.152);
}
