h4{
    font-size: 1.5rem;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
    
}
body{
    margin:0px;
}
li,a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.sub-links{
    display: flex;
    gap: 2rem;
margin: 0px;
align-items: center;
padding-top: 38px;
}
 
.first-side-heading{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    font-family: sans-serif;
        background-color: oklch(76.27% 0.14248 235.19);
      
    color: white;
   
}

button{
    color: blueviolet;
    border-radius: 3rem;
    height: 25px;
    width: 82px;
    border: 0px;
}
.sec-heading{
    font-size: 4rem;
   margin: 0px;
   background: url(./images/desktop/image-header.jpg);
   height: 700px;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
    font-family: "Fraunces", serif;
   padding-left: 461px;
    padding-top: 130px;
   letter-spacing: 2px; 
}
.third-heading,.fourth-heading{
     font-family: "Fraunces", serif;
     font-size: 3rem;
}
.third-combined-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
}
.third-content-box,.fourth-content-box{
    padding: 5rem 7rem;
    padding-bottom: 0;
    height: 37rem;
}
.third-para-1,.fourth-para-1{
     font-family: "Barlow", sans-serif;
     line-height: 1.5rem;
      color: oklch(49.513% 0.01827 248.271);
}
.third-para-2,.fourth-para-2{
    letter-spacing: 2px;
    text-shadow: 0rem 0.5rem 1rem yellow; 
    padding-top: 1rem;
}
.bottle-image{
    padding-top: 0px;
    margin: 0px;
    object-fit: cover;
    height: 34rem;
}
.fourth-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7px;
}
.egg-img{
    height: 34rem;
    width:auto;
}
/* .bottle-image{
     height: 37rem;
    width:auto;
    
} */
.fourth-para-2{
    text-shadow: 0rem 0.5rem 1rem rgb(255, 0, 0); 
}
.fourth-content-box{
    padding: 5rem 5rem;
    height: 37rem;
   margin-left: 2px;
}

.fifth-box{
    background: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
   height: 31rem;
   width: auto;
    border: 0px;
    margin-top: 7px;
    padding-top: 20rem;
    padding-left: 2rem;
    padding-right: 5rem;
    line-height: 2rem;
}
.fifth-box-heading,.sixth-box-heading{
    margin: 0px;
    justify-content: center;
    font-family: "Fraunces", serif;
    font-size: 1.2rem;
    padding-left: 15rem;
}
.sixth-box{
    background: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
   height: 31rem;
    padding-top: 20rem;
    padding-left: 2rem;
    padding-right: 6rem;
    line-height: 2rem;
    border: 0px;
   margin-top: auto;
}
.fifth-para,.sixth-para{
    font-family: "Barlow", sans-serif;
     line-height: 1.6rem;
     padding-left: 5rem;
      color: oklch(49.513% 0.01827 248.271);
}
.fifth-sixth-combined-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.seventh-heading{
      font-family: "Fraunces", serif;
      /* font-size: 1rem; */
      letter-spacing: 1rem;
       color: oklch(70.014% 0.00975 359.788);
       display: flex;
       justify-content: center;
       padding: 3rem;
}
.emilie-img,.thomas-img,.jennie-img{
    border-radius: 50%;
    background-size: cover;
   
}
.seventh-para-1,.eigth-para-1,.nineth-para-1{
     font-family: "Barlow", sans-serif;
      color: oklch(23.801% 0.00489 248.164);
      /* padding: 1rem; */
      letter-spacing: 1px;
}
.seventh-down-heading,.eigth-down-heading,.nineth-down-heading{
   font-family: "Fraunces", serif; 
   margin-top: 1rem;
}
.seventh-para-2,.eigth-para-2,.nineth-para-2{
     font-family: "Barlow", sans-serif;
          color: oklch(0.65 0.01 0);
          margin: 0px;
}
.client-details{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding: 3rem;
padding-top: 0rem;
margin-top: 0px;
}
.seventh-container,.eigth-container,.nineth-container{
    display: grid;
    grid-template: row;
    justify-items: center;
}
.nineth-para-1{
    padding-left: 0.5rem;
}
.milk-bottle-img,.orange-img,.cone-img,.sugarcube-img{
    height: 25rem;
    width: 24.49rem;
    object-fit: cover;
    margin: 0;
}
.all-images{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr  ;
    object-fit: cover;
    
}

















